<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--Responsive Viewport Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Health Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.2/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-xs-center">Health Tracker</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-block" id="inputFoodCard">
                    <h2>Enter Foods</h2>
                    <form>
                        <fieldset class="form-group">
                            <label type="label" for="inputFood">What did you eat?</label>
                            <input type="text" class="form-control" id="inputFood" placeholder="" autocomplete="off">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="inputAmount">How much?</label>
                            <input type="text" class="form-control" id="inputAmount">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="inputTime">Example select</label>
                            <select class="form-control" id="inputTime">
                                <!-- Times defined in MEAL_TIMES are dynamically added here-->
   	                        </select>
                        </fieldset>
                        <!-- Overridding Button Type to Prevent Page Loads-->
                        <button type="button" class="btn btn-primary" id="inputFoodSubmit">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-block" id="dailyTotalsCard" style="display: none">
                    <h2>Daily Totals</h2>
                    <hp>Calories: <span id="numCals"></span></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-block" id="foodLogCard" style="display: none">
                    <h2>Food Log</h2>
                    <!-- Tables for each item in MEAL_TIMES are dynamically added here-->
                    <!-- Models in foodItems Collections are then added to the appropriate table -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <footer class="info">
                    <div class="text-xs-center">Written by <a href="https://github.com/spmcbride1201">Sean McBride</a> using jQuery, Bootstrap 4 alpha, Typeahead, Underscore, and Backbone</div>
                </footer>
            </div>
        </div>
    </div>


    <!--Underscore Micro-templates-->
    <script type="text/template" id="foodLogItemTemplate">
        <td><%= brandName %> <%= itemName %></td>
        <td><%= amount %></td>
        <td><%= calories %></td>
    </script>

    <script type="text/template" id="inputMealTimeSelectorOptionTemplate">
        <option><%= mealTime %></option>
    </script>

    <script type="text/template" id="foodLogTableTemplate">
        <section id="<%= camelizedMealTime %>Table" style="display: none">
            <h4><%= mealTime %></h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Food</th>
                        <th>#</th>
                        <th>Cals</th>
                    </tr>
                </thead>
                <tbody id="<%= camelizedMealTime %>TableBody">
                </tbody>
            </table>
        </section>
    </script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.3/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>
    <script src="js/models/foodItem.js"></script>
    <script src="js/collections/foodItems.js"></script>
    <script src="js/views/appView.js"></script>
    <script src="js/views/inputFoodCardView.js"></script>
    <script src="js/views/dailyTotalsCardView.js"></script>
    <script src="js/views/foodLogCardView.js"></script>
    <script src="js/views/foodLogItemView.js"></script>
    <script src="js/routers/router.js"></script>
    <script src="js/app.js"></script>
</body>

</html>