<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--Responsive Viewport Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Health Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css" integrity="sha512-rt/SrQ4UNIaGfDyEXZtNcyWvQeOq0QLygHluFQcSjaGB04IxWhal71tKuzP6K8eYXYB6vJV4pHkXcmFGGQ1/0w==" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">Health Tracker</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-body" id="inputFoodCard">
                    <h2>Enter Foods</h2>
                    <form>
                        <fieldset class="form-group">
                            <label for="inputFood">What did you eat?</label>
                            <input type="text" class="form-control" id="inputFood" placeholder="" autocomplete="off">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="inputAmount">How much?</label>
                            <input type="text" class="form-control" id="inputAmount">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="inputTime">When?</label>
                            <select class="form-control" id="inputTime">
                                <!-- Times defined in MEAL_TIMES are dynamically added here-->
   	                        </select>
                        </fieldset>
                        <!-- Overridding Button Type to Prevent Page Loads-->
                        <button type="button" class="btn btn-primary" id="inputFoodSubmit">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-body" id="dailyTotalsCard" style="display: none">
                    <h2>Daily Totals</h2>
                    <p>Calories: <span id="numCals"></span></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-body" id="foodLogCard" style="display: none">
                    <h2>Food Log</h2>
                    <!-- Tables for each item in MEAL_TIMES are dynamically added here-->
                    <!-- Models in foodItems Collections are then added to the appropriate table -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <footer class="info">
                    <div class="text-center">Written by <a href="https://github.com/bushidocodes">Sean McBride</a> using jQuery, Bootstrap 4, Typeahead, Underscore, Backbone, and the USDA FoodData Central API</div>
                </footer>
            </div>
        </div>
    </div>


    <!--Underscore Micro-templates-->
    <script type="text/template" id="foodLogItemTemplate">
        <td><%- brandName %> <%- itemName %></td>
        <td><%- amount %></td>
        <td><%- calories %></td>
        <td><button class="destroy">Delete</button></td>
    </script>

    <script type="text/template" id="inputMealTimeSelectorOptionTemplate">
        <option><%- mealTime %></option>
    </script>

    <script type="text/template" id="foodLogTableTemplate">
        <section id="<%- camelizedMealTime %>Table" style="display: none">
            <h4><%- mealTime %></h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Food</th>
                        <th>Amount</th>
                        <th>Cals</th>
                        <th><span class="sr-only">Actions</span></th>
                    </tr>
                </thead>
                <tbody id="<%- camelizedMealTime %>TableBody">
                </tbody>
            </table>
        </section>
    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.2/js/bootstrap.bundle.min.js" integrity="sha512-igl8WEUuas9k5dtnhKqyyld6TzzRjvMqLC79jkgT3z02FvJyHAuUtyemm/P/jYSne1xwFI06ezQxEwweaiV7VA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js" integrity="sha512-qOBWNAMfkz+vXXgbh0Wz7qYSLZp6c14R0bZeVX2TdQxWpuKr6yHjBIM69fcF8Ve4GUX6B6AKRQJqiiAmwvmUmQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.7/underscore-min.js" integrity="sha512-dvWGkLATSdw5qWb2qozZBRKJ80Omy2YN/aF3wTUVC5+D1eqbA+TjWpPpoj8vorK5xGLMa2ZqIeWCpDZP/+pQGQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.1/backbone-min.js" integrity="sha512-TztyCWDNoN0YKl30gDCMKsiWs35juID+W7ZM2uvPeLLmiNvZg789SglgB/QeUbewqIF2Z4mVq3PyIEa+YXXADQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js" integrity="sha512-dOg+r9ILC1JdiW+IK4jxAZE0zCmHnwEAofU5FwYNVWmczAjHC8M0n8174bCuZdpOKykhCKYZQZMW7J3bir7KXw==" crossorigin="anonymous"></script>
    <script src="js/models/foodItem.js"></script>
    <script src="js/collections/foodItems.js"></script>
    <script src="js/views/appView.js"></script>
    <script src="js/views/inputFoodCardView.js"></script>
    <script src="js/views/dailyTotalsCardView.js"></script>
    <script src="js/views/foodLogCardView.js"></script>
    <script src="js/views/foodLogItemView.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
